.alimentos {
    width: 800px;
    height: 400px;
    /* display: flex; */
    /* justify-content: center; */
    margin: 0 auto;
    flex-direction: column;
    /* align-items: center; */
    flex-wrap: wrap;
}

.alimentos-titulo {
    /* margin-left: 30px; */
    margin: 12px 0 0 14px;
    color: var(--lightBlue);
    font-size: 20px;
}

.alimentos-divisor {
    margin-top: 20px;
    width: 100%;
    height: 3px;
    background: var(--lightBlue);
    border-radius: 10px;
}

.alimentos-adicionados {
    margin-top: 10px;
    width: 100%;
    height: 335px;
    overflow-y: scroll;
    overscroll-behavior: contain
        /* background: red; */
}

.alimentos-adicionados::-webkit-scrollbar {
    width: 10px
}

.alimentos-adicionados::-webkit-scrollbar-thumb {
    background: var(--lightBlue);
    border-radius: 10px
}

.alimento-item {
    width: 90%;
    height: 80px;
    /* background: var(--lightBlue); */
    background: white;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: white;
    position: relative;
    align-items: center;
    border: 1px solid var(--borderPinkWhite);
}

.alimento-item:nth-child(1) {
    border: 0;
    background: var(--lightBlue);
    height: 60px;
    color: white;
}

.editando {
    /* border-radius: 10px 10px 0 0; */
    animation: abreEspacoAbaixo .25s forwards
}

@keyframes abreEspacoAbaixo {
    0% {
        border-radius: 10px 10px 10px 10px;
        margin-bottom: 10px;
    }

    20% {
        border-radius: 10px 10px 0px 0px;
    }

    100% {
        border-radius: 10px 10px 0px 0px;
        margin-bottom: 165px;
    }
}

.editado {
    animation: fechaEspacoAbaixo .55s forwards
}

@keyframes fechaEspacoAbaixo {
    0% {
        margin-bottom: 165px;
        border-radius: 10px 10px 0px 0px;
    }

    20% {
        border-radius: 10px 10px 0px 0px;
    }

    100% {
        border-radius: 10px 10px 10px 10px 10px;
        margin-bottom: 10px;
        /* background-color: blue; */
    }
}

.botao-editar-alimento,
.botao-adicionar-alimento,
.botao-apagar-alimento {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60px;
    cursor: pointer;
}

.botao-editar-alimento {
    color: var(--lightBlue);
    font-size: 26px;
}

.botao-adicionar-alimento {
    font-size: 30px;
}

.botao-apagar-alimento {
    color: var(--lightBlue);
    font-size: 28px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.alimento-label {
    margin-left: 10px;
    color: black;
    margin-bottom: 4px;
}

.alimento-label h1 {
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 5px;
}

.model-alimento {
    cursor: pointer;
}

.model-alimento .alimento-label {
    color: white !important;
}

/* Janela de edição do alimento */

.alimento-item-janelaEdicao {
    width: 100%;
    border-radius: 0 0 10px 10px;
    /* height: 200px; */
    max-height: 0;
    overflow: hidden;
    /* background: red; */
    /* border: 5px solid transparent; */
    top: 80px;
    position: absolute;
    left: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    flex-wrap: wrap;
    opacity: 100%;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    /* border-color: var(--borderPinkWhite); */
    opacity: 0%;
    transition: max-height 0.35s,
        border-color 0s,
        opacity 0.4s;

}

.alimento-consumo,
.alimento-macros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

.alimento-consumo {
    height: 110px;
    width: 297px;
    padding: 0 10px 45px 0;
    /* background-color: red; */
}

.alimento-consumo>* {
    width: 320px;
    height: 63px;
    background: var(--pinkWhite);
    display: flex;
    border: 1px solid var(--highlightPinkWhite);
    align-items: center;
    border-radius: 6px;
    position: relative;
    margin-bottom: 10px;
}

.alimento-macros {
    /* background: blue; */
    height: 110px;
    width: 260px;
    padding: 0 0px 45px 0;
    /* margin-left: 17px; */
    /* padding-left: 20px; */
    /* border-left: 2px solid var(--lightBlue) */
}

.alimento-macros>* {
    border-radius: 6px;
    width: 124px;
    height: 65px;
    margin-bottom: 10px;
    /* background: var(--lightBlue); */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.calorias,
.carboidratos {
    margin-right: 10px
}

.calorias {
    background: rgb(219, 126, 41)
}

.proteinas {
    background: rgb(57 169 163)
}

.carboidratos {
    background: rgb(48 122 146);
}

.gorduras {
    background: rgb(237 90 98)
}

.selecao-label,
.peso-label {
    font-weight: 500;
    color: black;
    height: 100%;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 14px;
}

.selecao-valor,
.peso-valor {
    height: 40px;
    width: 200px;
    background: var(--pinkWhite);
    display: flex;
    align-items: center;
    border-radius: 3px;
}

.selecao-valor-texto,
.peso-valor-texto {
    margin-left: 5px;
    color: var(--lightBlue);
    background: transparent;
    border: none;
    height: 90%;
    width: 100%
}

.selecao-valor-texto:focus,
.peso-valor-texto:focus {
    outline: none;
    box-shadow: none;
}

.macros-label {
    margin-bottom: 6px;
    font-size: 20px;
    /* height: 40px; */
    margin-left: 10px;
    width: 87px;
    display: flex;
    align-items: center;
}

.macros-valor {
    /* height: 40px; */
    width: fit-content;
    /* border-radius: 3px; */
    /* color: var(--lightBlue); */
    color: white;
    /* background-color: var(--pinkWhite); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 20px;
}

.janelaEdicao-aberta {
    max-height: 300px;
    opacity: 100%;
    overflow: visible;
    border-color: var(--borderPinkWhite)
}

.alimento-selecao-lista {
    position: absolute;
    color: var(--lightBlue);
    top: 46px;
    height: 127px;
    left: -1px;
    width: 296px;
    background: black;
    overflow-y: scroll;
    z-index: 2;
    background: var(--pinkWhite);
    /* display: flex; */
    display: none;
    flex-wrap: wrap;
    border: 1px solid var(--borderPinkWhite);
    border-radius: 0 0 6px 6px;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
}

.alimento-selecao-lista::-webkit-scrollbar {
    width: 5px
}

.alimento-selecao-lista::-webkit-scrollbar-thumb {
    background: var(--lightBlue);
    border-radius: 10px
}

.alimento-selecao-lista li {
    padding: 10px 0 10px 5px;
    width: 100%;
    cursor: pointer;
}

.alimento-selecao-lista li:hover {
    background: var(--darkPinkWhite);
}