.alimentos {
    width: 800px;
    height: 400px;
    display: flex;
    /* justify-content: center; */
    margin: 0 auto;
    flex-direction: column;
    /* align-items: center; */
    flex-wrap: wrap;
}

.alimentos-titulo {
    /* margin-left: 30px; */
    margin: 12px 0 0 14px;
    color: var(--lightBlue);
    font-size: 20px;
}

.alimentos-divisor {
    margin-top: 20px;
    width: 100%;
    height: 3px;
    background: var(--lightBlue);
    border-radius: 10px;
}

.alimentos-adicionados {
    margin-top: 10px;
    width: 100%;
    height: 335px;
    overflow-y: scroll;
    /* background: red; */
}

.alimentos-adicionados::-webkit-scrollbar {
    width: 10px
}

.alimentos-adicionados::-webkit-scrollbar-thumb {
    background: var(--lightBlue);
    border-radius: 10px
}

.alimento-item {
    width: 90%;
    height: 60px;
    background: var(--lightBlue);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: white;
    position: relative;
    transition:
        border-radius .1s
}

.editando {
    border-radius: 10px 10px 0 0;
    animation: abreEspacoAbaixo .35s forwards
}

@keyframes abreEspacoAbaixo {
    from {
        margin-bottom: 10px;
    }

    to {
        margin-bottom: 170px;
    }
}

.botao-editar-alimento,
.botao-adicionar-alimento,
.botao-apagar-alimento {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60px;
    cursor: pointer;
}

.botao-editar-alimento,
.botao-adicionar-alimento {
    border-right: 2px solid var(--pinkWhite)
}

.botao-adicionar-alimento {
    font-size: 30px;
}

.botao-editar-alimento {
    font-size: 26px;
}

.botao-apagar-alimento {
    font-size: 28px;
    border-left: 2px solid var(--pinkWhite);
    position: absolute;
    right: 0;
    cursor: pointer;
}

.alimento-label {
    margin-left: 10px;
}

/* Janela de edição do alimento */

.alimento-item-janelaEdicao {
    width: calc(100% - 10px);
    border-radius: 0 0 10px 10px;
    /* height: 200px; */
    max-height: 0;
    overflow: hidden;
    /* background: red; */
    border: 5px solid transparent;
    top: 60px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0%;
    transition:
        max-height 0.4s,
        border-color 0s,
        opacity 0.4s;
}

.alimento-consumo,
.alimento-macros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

.alimento-consumo {
    width: 291px;
    height: 150px;
    /* background-color: red; */
}

.alimento-consumo>* {
    width: 264px;
    height: 50px;
    background: var(--lightBlue);
    display: flex;
    align-items: center;
    border-radius: 6px;
    position: relative;
}

.alimento-macros {
    /* background: blue; */
    height: 150px;
    width: 385px;
    margin-left: 17px;
    /* padding-left: 20px; */
    border-left: 2px solid var(--lightBlue)
}

.alimento-macros>* {
    border-radius: 6px;
    width: 158px;
    height: 50px;
    background: var(--lightBlue);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.calorias,
.carboidratos {
    margin-right: 10px
}

.selecao-label,
.peso-label {
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selecao-valor,
.peso-valor {
    height: 40px;
    width: 158px;
    background: var(--pinkWhite);
    display: flex;
    align-items: center;
    border-radius: 3px;
}

.selecao-valor-texto,
.peso-valor-texto {
    margin-left: 5px;
    color: var(--lightBlue);
    background: transparent;
    border: none;
    height: 100%;
    width: 145px;
}

.selecao-valor-texto:focus,
.peso-valor-texto:focus {
    outline: none;
    box-shadow: none;
}

.macros-label {
    height: 40px;
    margin-left: 10px;
    width: 95px;
    display: flex;
    align-items: center;
}

.macros-valor {
    height: 40px;
    width: 48px;
    border-radius: 3px;
    color: var(--lightBlue);
    background-color: var(--pinkWhite);
    display: flex;
    justify-content: center;
    align-items: center;
}

.janelaEdicao-aberta {
    max-height: 200px;
    border-color: var(--lightBlue);
    opacity: 100%;
    overflow: visible;
}

.alimento-selecao-lista {
    position: absolute;
    color: white;
    top: 61px;
    z-index: 2;
    background:black;
    display: flex;
    flex-wrap: wrap;
}

.alimento-selecao-lista li{
    margin-bottom: 10px;
    width: 100%;
}