.alimentos {
    width: 800px;
    height: 400px;
    /* display: flex; */
    /* justify-content: center; */
    margin: 0 auto;
    flex-direction: column;
    /* align-items: center; */
    flex-wrap: wrap;
}

.alimentos-titulo {
    /* margin-left: 30px; */
    margin: 12px 0 0 14px;
    color: var(--lightBlue);
    font-size: 20px;
}

.alimentos-divisor {
    margin-top: 20px;
    width: 100%;
    height: 3px;
    background: var(--lightBlue);
    border-radius: 10px;
}

.alimentos-adicionados {
    margin-top: 10px;
    width: 100%;
    height: 335px;
    overflow-y: scroll;
    /* background: red; */
}

.alimentos-adicionados::-webkit-scrollbar {
    width: 10px
}

.alimentos-adicionados::-webkit-scrollbar-thumb {
    background: var(--lightBlue);
    border-radius: 10px
}

.alimento-item {
    width: 90%;
    height: 60px;
    background: var(--lightBlue);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: white;
    position: relative;
    transition:
        border-radius .1s
}

.editando {
    border-radius: 10px 10px 0 0;
    animation: abreEspacoAbaixo .35s forwards
}

@keyframes abreEspacoAbaixo {
    from {
        margin-bottom: 10px;
    }

    to {
        margin-bottom: 170px;
    }
}

.botao-editar-alimento,
.botao-adicionar-alimento,
.botao-apagar-alimento {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60px;
    cursor: pointer;
}

.botao-editar-alimento,
.botao-adicionar-alimento {
    border-right: 2px solid var(--pinkWhite)
}

.botao-adicionar-alimento {
    font-size: 30px;
}

.botao-editar-alimento {
    font-size: 26px;
}

.botao-apagar-alimento {
    font-size: 28px;
    border-left: 2px solid var(--pinkWhite);
    position: absolute;
    right: 0;
    cursor: pointer;
}

.alimento-label {
    margin-left: 10px;
}

/* Janela de edição do alimento */

.alimento-item-janelaEdicao {
    width: calc(100% - 9px);
    border-radius: 0 0 10px 10px;
    /* height: 200px; */
    max-height: 0;
    overflow: hidden;
    /* background: red; */
    border: 5px solid transparent;
    top: 60px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0%;
    transition:
        max-height 0.4s,
        border-color 0s,
        opacity 0.4s;
}

.alimento-consumo,
.alimento-macros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

.alimento-consumo {
    width: 291px;
    height: 150px;
    /* background-color: red; */
}

.alimento-consumo>* {
    width: 264px;
    height: 50px;
    background: var(--lightBlue);
    display: flex;
    align-items: center;
    border-radius: 6px;
    position: relative;
}

.alimento-macros {
    /* background: blue; */
    height: 150px;
    width: 260px;
    margin-left: 17px;
    /* padding-left: 20px; */
    /* border-left: 2px solid var(--lightBlue) */
}

.alimento-macros>* {
    border-radius: 6px;
    width: 124px;
    height: 65px;
    /* background: var(--lightBlue); */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.calorias,
.carboidratos {
    margin-right: 10px
}

.calorias{
    background: rgb(219,126,41)
}

.proteinas{
    background: rgb(57 169 163)
}

.carboidratos{
    background: rgb(48 122 146);
}

.gorduras{
    background: rgb(237 90 98)
}

.selecao-label,
.peso-label {
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selecao-valor,
.peso-valor {
    height: 40px;
    width: 158px;
    background: var(--pinkWhite);
    display: flex;
    align-items: center;
    border-radius: 3px;
}

.selecao-valor-texto,
.peso-valor-texto {
    margin-left: 5px;
    color: var(--lightBlue);
    background: transparent;
    border: none;
    height: 90%;
    width: 145px;
}

.selecao-valor-texto:focus,
.peso-valor-texto:focus {
    outline: none;
    box-shadow: none;
}

.macros-label {
    margin-bottom: 6px;
    font-size: 20px;
    /* height: 40px; */
    margin-left: 10px;
    width: 87px;
    display: flex;
    align-items: center;
}

.macros-valor {
    /* height: 40px; */
    width: fit-content;
    /* border-radius: 3px; */
    /* color: var(--lightBlue); */
    color: white;
    /* background-color: var(--pinkWhite); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 20px;
}

.janelaEdicao-aberta {
    max-height: 200px;
    border-color: var(--lightBlue);
    opacity: 100%;
    overflow: visible;
}

.alimento-selecao-lista {
    position: absolute;
    color: var(--lightBlue);
    top: 46px;
    height: 127px;
    width: 98%;
    background: black;
    overflow-y: scroll;
    z-index: 2;
    background: var(--pinkWhite);
    /* display: flex; */
    display: none;
    flex-wrap: wrap;
    border: 3px solid var(--lightBlue);
    border-radius: 0 0 6px 6px;
}

.alimento-selecao-lista li {
    padding: 10px 0 10px 5px;
    width: 100%;
    cursor: pointer;
}

.alimento-selecao-lista li:hover {
    background: var(--darkPinkWhite);
}