@media (max-width: 600px) {
    .overlay-auth {
        zoom: 80%
    }
}

@media (max-width: 500px) {
    .overlay-auth {
        zoom: 70%
    }

    main{
        display: none;
        zoom: 80%
    }
}

@media (max-width: 450px) {
    .overlay-auth {
        zoom: 70%
    }

    main{
        display: none;
        zoom: 75%
    }
}
@media (max-width: 395px) {
    .overlay-auth {
        zoom: 70%
    }

    main{
        display: none;
        zoom: 70%
    }
}

@media (max-width: 395px) {
    .overlay-auth {
        zoom: 55%
    }

    main{
        display: none;
        zoom: 60%
    }
}

@media (max-width: 300px) {
    .overlay-auth {
        zoom: 45%
    }

    main{
        display: none;
        zoom: 45%
    }
}