@media (max-width: 1650px) {
    main {
        zoom: 90%
    }
}

@media (max-width: 1470px) {
    main {
        zoom: 75%
    }
}

@media (max-width: 1230px) {
    main {
        zoom: 60%
    }
}

@media (max-width: 985px) {
    body {
        overflow: hidden;
    }

    main {
        display: flex;
        justify-content: center;
    }

    .sideBar {
        position: absolute;
        left: 0
    }
}