@media (max-width: 985px) {
    .estatisticas-ico-label {
        display: none
    }

    .estatisticas-ico {
        position: absolute;
        right: 75px;
        top: -7px;
    }

    .janela-estatisticas {
        position: absolute;
        left: initial;
        margin: 0 auto;
        /* margin-left: 0; */
        /* margin-left: 5%; */
        width: 400px;
    }

    .sessao-estatisticas-informacoes {
        zoom: 45%;
        margin-left: 49px
    }
    
    .estatisticas-informacoes{
        height: 50%;
        width: 790px;
        margin-bottom: 32px
    }

    nav.janela-estatisticas-nav{
        margin-left: 21px;
    }
}