.sideBar {
    /* left: 0; */
    height: 100%;
    width: 90px;
    background: var(--lightBlue);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative
        /* background: red; */
}

.sideBar .logo {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.sideBar .logo .logo-img {
    width: 75px;
}

.sideBar .logo .logo-text {
    width: 70px;
    margin-top: -10px
}

.sideBar .user {
    width: 100%;
    margin-top: 55px;
    height: 70px;
    text-align: center;
    cursor: pointer;
}

.sideBar .user-click {
    font-size: 35px;
    color: white;
    text-decoration: none;
}

.sideBar .user .user-label {
    margin-top: 5px;
    color: white;
}

.git {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.git .git-click {
    color: white;
    text-decoration: none;
    font-size: 40px
}

.user-janela {
    display: none;
    position: absolute;
    width: 288px;
    background: var(--lightBlue);
    height: 162px;
    box-shadow: 0px 0px 65px -12px rgba(0, 0, 0, 1);
    border-radius: 6px;
    flex-wrap: wrap;
    top: 123px;
    left: 99px;
    z-index: 1;
}

.user-janela-aberta {
    display: flex;
}

.user-janela>* {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    color: white
}

.user-janela>* div {
    text-align: center;
    font-weight: 800;
    width: 100%;
}

.user-janela-email {
    margin-top: 13px;
}

.user-janela-logout {
    font-size: 29px;
    cursor: pointer;
    margin: 0 133px;
}

.user-janela .user-janela-close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: fit-content;
    font-size: 23px;
    cursor: pointer;
}

.estatisticas-ico {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.estatisticas-ico i {
    margin-bottom: 5px;
    font-size: 35px
}

.estatisticas-ico-label {
    font-size: 12px;
    text-transform: uppercase;
}