@media (max-width: 985px) {
    .refeicao {
        margin-left: 12px;
    }

    .refeicao-list-label {
        font-size: 13px;
        width: 250px
    }

    .lista-de-refeicoes {
        width: 365px;
        padding: 0 10px;
    }

    .lista-de-refeicoes::-webkit-scrollbar {
        width: 5px
    }

    .refeicao-tipo-list {
        width: 330px !important;
        top: 58px !important;
        left: 0px !important
    }

    .refeicao-tipo-list li {
        width: 42% !important;
    }

}